body {
  background-color: #000;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  text-align: center;
}

canvas {
  background-color: #222;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
